<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />

    <rewrite>
      <rules>
        <rule name="Proxy IDA API" stopProcessing="true">
          <match url="^api/ida/(.*)$" />
          <action type="Rewrite" url="http://10.10.13.68:8080/api/Ida/{R:1}" appendQueryString="true" />
        </rule>

        <rule name="Proxy Online Harmonization" stopProcessing="true">
          <match url="^api/online-harm/(.*)$" />
          <action type="Rewrite" url="http://10.10.14.21/dmsnew/OnlineHarmonization/{R:1}" appendQueryString="true" />
        </rule>

        <rule name="Proxy OTP API" stopProcessing="true">
          <match url="^api/otp/(.*)$" />
          <action type="Rewrite" url="http://10.10.13.97/api/{R:1}" appendQueryString="true" />
        </rule>

        <rule name="Proxy DMS API" stopProcessing="true">
          <match url="^api/dms/(.*)$" />
          <action type="Rewrite" url="http://10.10.14.21/dmsnew/api/{R:1}" appendQueryString="true" />
        </rule>

        <rule name="Proxy FCUBS SOAP API" stopProcessing="true">
          <match url="^api/fcubs$" />
          <action type="Rewrite" url="http://10.1.200.153:7003/FCUBSCustomerService/FCUBSCustomerService" appendQueryString="true" />
        </rule>

        <rule name="Skip static files" stopProcessing="true">
          <match url=".*\.(js|mjs|css|map|json|png|jpg|jpeg|gif|svg|ico|webp|woff|woff2|ttf|eot)$" ignoreCase="true" />
          <action type="None" />
        </rule>

        <rule name="Angular SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
